@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  display: none;
}
@font-face {
  font-family:'Aileron';
  src: url('/assets/css/font/Aileron-Black.otf') format('otf'),
      url('/assets/css/font/Aileron-BlackItalic.otf') format('otf'),
      url('/assets/css/font/Aileron-Bold.otf') format('otf'),
      url('/assets/css/font/Aileron-BoldItalic.otf') format('otf'),
      url('/assets/css/font/Aileron-Light.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'Aileron', sans-serif;
}

